In Python, looping statements, also known as iterative statements, allow you to execute a block of code repeatedly. The two main types of loops are for loops and while loops. For loops are used to iterate over a sequence (like a list, tuple, string, or dictionary)

In [1]:
# For Loops:
# A for loop is used to iterate over a sequence, executing the code block for each item in the sequence. 
# You can use the range() function to create a sequence of numbers for iteration. 
# For example: for i in range(5): print(i) will print the numbers 0 to 4.

In [3]:
numbers = [1, 'a', 2, 'b', 3, 'c']
for num in numbers:
   print(num, end= "," )

1,a,2,b,3,c,

In [4]:
numbers = [1, 'a', 2, 'b', 3, 'c']
for num in numbers:
   print(num, end= "," )

1,a,2,b,3,c,

In [5]:
#Iterating over a string
word = 'hello'
for letter in word:
    print(letter)
print(word)

h
e
l
l
o
hello

In [6]:
"datas"

'datas'

In [7]:
for i in "datas":
  print(i+"*", end=",")

d*,a*,t*,a*,s*,

In [8]:
for i in "20":
  print(i)

2
0

In [9]:
for i in [1,2,3,4,5]:
  print(i*10,end ='\n') #\n -> next line

10
20
30
40
50

In [10]:
for i in [1,2,3,4,5]:
  print(i+10,end ='\t')   #t - backslash tab

11	12	13	14	15

In [11]:
for i in [1,2,3,4,5]:
  print(i+10,end =',')

11,12,13,14,15,

In [12]:
for i in [5,4,3,2,1]:
  print(i*"*")   #Pattern Programming,

*****
****
***
**
*

In [13]:
for i in range(0,10,2):
 print(i, end=",")

0,2,4,6,8,

In [14]:
for i in range(10, 0, -1):
    print(i, end=",")

10,9,8,7,6,5,4,3,2,1,

In [15]:
#even number
for i in range(2,11,2):
    print(i, end=",")

2,4,6,8,10,

In [16]:
for i in range(1,11):
    if i % 2 == 0:
        print(i, " is even")
    else:
        print(i, "is odd")

1 is odd
2  is even
3 is odd
4  is even
5 is odd
6  is even
7 is odd
8  is even
9 is odd
10  is even

In [17]:
"""print DATA from DATA1234"""
for i in "DATA12345":
    if i.isalpha():
     print(i,end="")

DATA

In [18]:
"""print 12345 from DATA1234"""
for i in "DATA12345":
    if i.isnumeric():
     print(i,end="")

12345

In [19]:
data ="!@%*$#$,1,2,2,&*@@$#^^#&$&$"
for i in data:
  if i.isalnum()==False:
    print(i,end=" ")

! @ % * $ # $ , , , , & * @ @ $ # ^ ^ # & $ & $

In [20]:
n = 5  # Number of rows for the upper half

# Upper part of the diamond
for i in range(1, n + 1):
    print(("*" * (2 * i - 1)).center(2 * n - 1))

# Lower part of the diamond
for j in range(n - 1, 0, -1):  #range(4,0,-1) --> 4,3,2,1
    print(("*" * (2 * j - 1)).center(2 * n - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [21]:
#another approach for print diamond pattern
n=5

#upper half
for i in range(n):
    print(' '*(n-i-1)+'*'*(2*i+1))

#lower half
for i in range(n-2,-1,-1):
    print(' ' * (n - i - 1) + '*' * (2 * i + 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [22]:
for i in [1,2,3,4,5]:
  print(i*"3")

3
33
333
3333
33333

In [23]:
for i in range(0,10):  #0,1,2,3,4,5,6,7,8,9
  print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [24]:
for i in range(0,10,3):  #step size
  print(i,end=' ')

0 3 6 9

In [25]:
for i in range(10,0,-1):  #step size
  print(i,end=',')

10,9,8,7,6,5,4,3,2,1,

In [26]:
# *
# **
# ***
# ****
# *****
# ****
# ***
# **
# *
#another approach for print diamond pattern
n=5

#upper half
for i in range(n):
    print('*'*(i+1))

#lower half
for i in range(n-2,-1,-1):
    print('*' * (i + 1))

*
**
***
****
*****
****
***
**
*

In [27]:
data ="Data Science Machine Learning"

In [28]:
x=0
y=len(data)
for i in data:
  x = x+1
  y=y-1
  print(x,y,i)

1 28 D
2 27 a
3 26 t
4 25 a
5 24
6 23 S
7 22 c
8 21 i
9 20 e
10 19 n
11 18 c
12 17 e
13 16
14 15 M
15 14 a
16 13 c
17 12 h
18 11 i
19 10 n
20 9 e
21 8
22 7 L
23 6 e
24 5 a
25 4 r
26 3 n
27 2 i
28 1 n
29 0 g

In [29]:
text =''' The Sun emits ~3.8 × 10²⁶ watts of energy! Life depends on its light & heat.
Water (~71% of Earth) supports ecosystems, marine life & weather cycles.
Tech evolves @ rapid speed—AI, IoT & 5G reshape how we work, learn & connect!'''

In [30]:
text.split()

['The',
 'Sun',
 'emits',
 '~3.8',
 '×',
 '10²⁶',
 'watts',
 'of',
 'energy!',
 'Life',
 'depends',
 'on',
 'its',
 'light',
 '&',
 'heat.',
 'Water',
 '(~71%',
 'of',
 'Earth)',
 'supports',
 'ecosystems,',
 'marine',
 'life',
 '&',
 'weather',
 'cycles.',
 'Tech',
 'evolves',
 '@',
 'rapid',
 'speed—AI,',
 'IoT',
 '&',
 '5G',
 'reshape',
 'how',
 'we',
 'work,',
 'learn',
 '&',
 'connect!']

In [33]:
for i in text.split():
  if i.isalnum()==True:
    print(i,end=',') #retrieves all the alpha numeric values

The,Sun,emits,10²⁶,watts,of,Life,depends,on,its,light,Water,of,supports,marine,life,weather,Tech,evolves,rapid,IoT,5G,reshape,how,we,learn,

In [34]:
for i in text.split():
  if i.isalnum()==False:
    print(i,end=',') #retrieves all the alphanumeric mixed with special characters values

~3.8,×,energy!,&,heat.,(~71%,Earth),ecosystems,,&,cycles.,@,speed—AI,,&,work,,&,connect!,

In [35]:
#Find How many capital letters
x=0
for i in text:
  if i.isupper():
    x=x+1
print(x)

11

In [37]:
#Find Capital Letters:
x=0
for i in text:
  if i.isupper():
    x=x+1
    print(i,end=',')

T,S,L,W,E,T,A,I,I,T,G,

In [38]:
for i in range(0,10):
  print(i,9-i)

0 9
1 8
2 7
3 6
4 5
5 4
6 3
7 2
8 1
9 0

In [39]:
# 9 is lenght of range
for i in range(0,10):
  print(i,len(range(0,10))-1)

0 9
1 9
2 9
3 9
4 9
5 9
6 9
7 9
8 9
9 9

In [40]:
for i in range(1,6):
  print(i*"*")

*
**
***
****
*****

In [41]:
#print in reverse order
for i in range(1,6):
  print((6-i)*"*")

*****
****
***
**
*

In [42]:
for i in range(1,6):
  print(i*"*")
  if i==5:
    for j in range(5,0,-1):  #Reverse order
       print(j*"*")

*
**
***
****
*****
*****
****
***
**
*

In [43]:
for i in range(1,6):
  print(i*"*")
for i in range(1,6):
  print((6-i)*"*")

*
**
***
****
*****
*****
****
***
**
*

In [44]:
#Example: Iterating Over a String

word = "hello"

for letter in word:
    print(letter)
print(word)

h
e
l
l
o
hello