Loop control statements in Python allow you to modify the standard execution flow of loops, such as skipping iterations or terminating the loop prematurely. These statements are break, continue, and pass
1. break statement:
Purpose: The break statement terminates the loop immediately and transfers control to the statement following the loop.
2. continue statement:
Purpose: The continue statement skips the current iteration of the loop and proceeds to the next iteration. The remaining statements within the current loop iteration are not executed.
3. pass statement:
Purpose: The pass statement is a null statement, meaning it does nothing. It is often used as a placeholder when a statement is required syntactically, but you don't want to execute any code.
4. else clause in loops:
Purpose: You can also include an else clause with a for or while loop. The else block is executed when the loop finishes normally, i.e., when it completes all its iterations without encountering a break statement.

# BREAK

In [ ]:
for i in range(1,100):  #range(10)= (1 to 99)  # 0(1),..............10(9)
    if i == 10:
      print(i)
      break

10

In [2]:
for number in range(1,100):
    if number == 10:
      break
    print(number)

1
2
3
4
5
6
7
8
9

In [3]:
for number in range(1,100):
    print(number)
    if number == 10:
      break

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(0,10): #0123456789
  if i==5:
    continue
  print(i, end=",")

0,1,2,3,4,6,7,8,9,

# CONTINUE

In [5]:
for number in range(10):  #range(0-9)
    if number % 2 ==1:   # 0 %2 ==00,2%2==0,4%2==00, 6%2==00, 8%2==00
        continue
    print(number,end="\t")

0	2	4	6	8

In [6]:
for number in range(10):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9

In [7]:
for i in range(0,10):  #0123456789
  if i>5:
    continue
    print(i,end=',')
  else:
    print(i,end=',')

0,1,2,3,4,5,

In [8]:
for i in range(1,6):
  for j in range(1,6):
    if j==3:
      continue
    print(i,j)

1 1
1 2
1 4
1 5
2 1
2 2
2 4
2 5
3 1
3 2
3 4
3 5
4 1
4 2
4 4
4 5
5 1
5 2
5 4
5 5

In [9]:
for i in range(1,6):
  for j in range(1,6):
    print(i,j)
    if j==3:
      break

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3
5 1
5 2
5 3

In [10]:
for i in range(1,6):
  for j in range(1,6):
    if i==3:
      continue
    print(i,j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

# PASS

In [12]:
a = 33 
b= 200
if b>a:
    pass

# ELSE CLAUSE IN LOOPS

In [14]:
for number in range(5):  #
    print(number)
else:
    print("Loop finished without break")

0
1
2
3
4
Loop finished without break